
@{
    ViewData["Title"] = "ActivedUser";
}

<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <h3>Register Error</h3>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">

                    <!-- Login Form -->
                    <h4>Lütfen Mail Adresinizi Kontrol Edin</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Login Area End ##### -->
